<h1>Listing Products</h1>
<table id="products" class="table table-responsive table-striped">
  <tr>
    <th>Name</th>
    <th class="numeric">Price</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="p in data.products">
    <td class="name"><a ng-href="#/detail/{{p._id}}" ng-bind="p.name"></a></td>
    <td class="price numeric" ng-bind="p.price | currency"></td>
    <td>
      <a ng-href="#/detail/{{p._id}}">show</a>
      <a ng-href="#/edit/{{p._id}}">edit</a>
      <a ng-click="deleteOne(p._id)">delete</a>
    </td>
  </tr>
</table>

